<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="About Me Page" />
<link rel="stylesheet" href="/global/global.css" />
<link rel="stylesheet" href="/styles/index/home.css" />
<script type="module" src="/global/global.js"></script>
<script defer src="/js/index/home.js"></script>
<script type="module" src="/js/index/typewriter.js"></script>
<script
defer
src="https://kit.fontawesome.com/a673862905.js"
crossorigin="anonymous"
></script>
<title>Ryan Large</title>
</head>
<body>
<%-include('./styledElements/glowCircles/blob.ejs')%>
<%-include('./styledElements/glowCircles/topLeft.ejs')%>
<%-include('./styledElements/glowCircles/bottomLeft.ejs')%>
<div class="drop-shadow"></div>
<div class="nav-toggle">
<span></span>
<span></span>
<span></span>
</div>
<%-include('./partials/Aside/Aside.ejs')%>
<img
src="https://miro.medium.com/max/1072/1*rLnrIrpIywxyEX-Vt51l3Q.png"
/>
<%-include('./partials/Nav/Nav.ejs')%>
<header class="width">
<h1>R. Largè</h1>
<p class="type-writer"></p>
<hr>
<h2>Start With A Service</h2>
<div class="card-container flex">
<div class="head-card flex-col">
<div class="bg bg-1"></div>
<div class="text flex">
Web Development
</div>
</div>
<div class="head-card flex-col">
<div class="bg bg-2"></div>
<div class="text flex">
Software Engineering
</div>
</div>
</div>
</header>
<section class="sec-1 sec">
<h2>Development For Production...</h2>
<p>
The universe of technology continues to grow at a logarithmic pace, fulfill your journey with hundreds of other by joining the community of amazing web technologies.
</p>
<h3>Get Started</h3>
<i class="fa-solid fa-arrow-right-long"></i>
<div class="project-selection-btns">
<button class="project-btn"><i class="fa-brands fa-react"></i></button>
<button class="project-btn"><i class="fa-brands fa-node-js"></i></button>
<button class="project-btn"><i class="fa-brands fa-angular"></i></button>
<button class="project-btn"><i class="fa-brands fa-node"></i></button>
<button class="project-btn"><i class="fa-brands fa-vuejs"></i></button>
<button class="project-btn"><i class="fa-brands fa-android"></i></button>
<button class="project-btn"><i class="fa-brands fa-apple"></i></button>
<button class="project-btn"><i class="fa-brands fa-html5"></i></button>
</div>
<p class="end-link-small">
pick a framework
</p>
<hr>
</section>
<section class="sec-2">
<div class="top-square-green"></div>
<div class="top-square-pink"></div>
<div class="overflow-text">
<h2>Engineering<br> Software & <br>Desktop <br> <strong>Applications</strong></h2>
</div>
<div class="clip"></div>
<div class="follow-clip">
<h2>Robotics & Machine Learning</h2>
<code>{ <br> <strong class="code-strong">success ? true : true</strong><br> }</code>
<p>
An amazing team of developers from around the world, each with their own area of expertise... Making Dev Commerce the ultimate way to handle your business.
</p>
<button>Testimonials ></button>
<h4 class="side-border">Every teckstack</h4>
<p>
For any need, weather that is Robotics, Web Development, Mobile Applications and more. Dev Commerce can handle it all.
</p>
<a>See technologies ></a>
<h4 class="side-border">Optimization & standards</h4>
<p>
Our standards are extremely high here at Dev Commerce. To optimize our customer experience we deliver some of the best content found in Earth.
</p>
<a>Read our guarantees ></a>
</div>
<div class="square-color-green"></div>
<div class="square-color-blue"></div>
</section>
<section class="sec-3 sec">
<svg id="wave" style="transform:rotate(180deg); transition: 0.3s" viewBox="0 0 1440 490" version="1.1" xmlns="http://www.w3.org/2000/svg"><defs><linearGradient id="sw-gradient-0" x1="0" x2="0" y1="1" y2="0"><stop stop-color="rgba(187.01, 62, 243, 1)" offset="0%"></stop><stop stop-color="rgba(255, 11, 227.04, 1)" offset="100%"></stop></linearGradient></defs><path style="transform:translate(0, 0px); opacity:1" fill="url(#sw-gradient-0)" d="M0,441L26.7,392C53.3,343,107,245,160,245C213.3,245,267,343,320,383.8C373.3,425,427,408,480,383.8C533.3,359,587,327,640,310.3C693.3,294,747,294,800,318.5C853.3,343,907,392,960,359.3C1013.3,327,1067,212,1120,204.2C1173.3,196,1227,294,1280,318.5C1333.3,343,1387,294,1440,253.2C1493.3,212,1547,180,1600,212.3C1653.3,245,1707,343,1760,383.8C1813.3,425,1867,408,1920,351.2C1973.3,294,2027,196,2080,138.8C2133.3,82,2187,65,2240,122.5C2293.3,180,2347,310,2400,310.3C2453.3,310,2507,180,2560,138.8C2613.3,98,2667,147,2720,147C2773.3,147,2827,98,2880,106.2C2933.3,114,2987,180,3040,236.8C3093.3,294,3147,343,3200,318.5C3253.3,294,3307,196,3360,196C3413.3,196,3467,294,3520,302.2C3573.3,310,3627,229,3680,204.2C3733.3,180,3787,212,3813,228.7L3840,245L3840,490L3813.3,490C3786.7,490,3733,490,3680,490C3626.7,490,3573,490,3520,490C3466.7,490,3413,490,3360,490C3306.7,490,3253,490,3200,490C3146.7,490,3093,490,3040,490C2986.7,490,2933,490,2880,490C2826.7,490,2773,490,2720,490C2666.7,490,2613,490,2560,490C2506.7,490,2453,490,2400,490C2346.7,490,2293,490,2240,490C2186.7,490,2133,490,2080,490C2026.7,490,1973,490,1920,490C1866.7,490,1813,490,1760,490C1706.7,490,1653,490,1600,490C1546.7,490,1493,490,1440,490C1386.7,490,1333,490,1280,490C1226.7,490,1173,490,1120,490C1066.7,490,1013,490,960,490C906.7,490,853,490,800,490C746.7,490,693,490,640,490C586.7,490,533,490,480,490C426.7,490,373,490,320,490C266.7,490,213,490,160,490C106.7,490,53,490,27,490L0,490Z"></path><defs><linearGradient id="sw-gradient-1" x1="0" x2="0" y1="1" y2="0"><stop stop-color="rgba(62, 243, 181.097, 1)" offset="0%"></stop><stop stop-color="rgba(11, 106.996, 255, 1)" offset="100%"></stop></linearGradient></defs><path style="transform:translate(0, 50px); opacity:0.9" fill="url(#sw-gradient-1)" d="M0,0L26.7,73.5C53.3,147,107,294,160,302.2C213.3,310,267,180,320,179.7C373.3,180,427,310,480,375.7C533.3,441,587,441,640,392C693.3,343,747,245,800,220.5C853.3,196,907,245,960,245C1013.3,245,1067,196,1120,179.7C1173.3,163,1227,180,1280,196C1333.3,212,1387,229,1440,196C1493.3,163,1547,82,1600,40.8C1653.3,0,1707,0,1760,65.3C1813.3,131,1867,261,1920,285.8C1973.3,310,2027,229,2080,220.5C2133.3,212,2187,278,2240,318.5C2293.3,359,2347,376,2400,367.5C2453.3,359,2507,327,2560,269.5C2613.3,212,2667,131,2720,155.2C2773.3,180,2827,310,2880,334.8C2933.3,359,2987,278,3040,245C3093.3,212,3147,229,3200,245C3253.3,261,3307,278,3360,294C3413.3,310,3467,327,3520,277.7C3573.3,229,3627,114,3680,89.8C3733.3,65,3787,131,3813,163.3L3840,196L3840,490L3813.3,490C3786.7,490,3733,490,3680,490C3626.7,490,3573,490,3520,490C3466.7,490,3413,490,3360,490C3306.7,490,3253,490,3200,490C3146.7,490,3093,490,3040,490C2986.7,490,2933,490,2880,490C2826.7,490,2773,490,2720,490C2666.7,490,2613,490,2560,490C2506.7,490,2453,490,2400,490C2346.7,490,2293,490,2240,490C2186.7,490,2133,490,2080,490C2026.7,490,1973,490,1920,490C1866.7,490,1813,490,1760,490C1706.7,490,1653,490,1600,490C1546.7,490,1493,490,1440,490C1386.7,490,1333,490,1280,490C1226.7,490,1173,490,1120,490C1066.7,490,1013,490,960,490C906.7,490,853,490,800,490C746.7,490,693,490,640,490C586.7,490,533,490,480,490C426.7,490,373,490,320,490C266.7,490,213,490,160,490C106.7,490,53,490,27,490L0,490Z"></path></svg>
<div id="svg-div">
<svg width="100%" height="100%" id="svg" viewBox="0 0 1440 700" xmlns="http://www.w3.org/2000/svg" class="transition duration-300 ease-in-out delay-150"><style>
.path-0 {
animation: pathAnim-0 8s;
animation-timing-function: linear;
animation-iteration-count: infinite;
}
@keyframes pathAnim-0 {
0% {
d: path("M 0,700 C 0,700 0,233 0,233 C 144.14285714285717,206.17857142857144 288.28571428571433,179.35714285714286 418,191 C 547.7142857142857,202.64285714285714 662.9999999999999,252.75000000000006 762,270 C 861.0000000000001,287.24999999999994 943.7142857142858,271.6428571428571 1054,260 C 1164.2857142857142,248.3571428571429 1302.142857142857,240.67857142857144 1440,233 C 1440,233 1440,700 1440,700 Z");
}
25% {
d: path("M 0,700 C 0,700 0,233 0,233 C 107.07142857142858,259.4642857142857 214.14285714285717,285.92857142857144 324,291 C 433.85714285714283,296.07142857142856 546.5,279.75 690,256 C 833.5,232.25 1007.8571428571429,201.07142857142858 1138,196 C 1268.142857142857,190.92857142857142 1354.0714285714284,211.96428571428572 1440,233 C 1440,233 1440,700 1440,700 Z");
}
50% {
d: path("M 0,700 C 0,700 0,233 0,233 C 119.67857142857142,220.53571428571428 239.35714285714283,208.07142857142858 360,185 C 480.64285714285717,161.92857142857142 602.2500000000001,128.25 732,146 C 861.7499999999999,163.75 999.6428571428571,232.92857142857144 1119,256 C 1238.357142857143,279.07142857142856 1339.1785714285716,256.0357142857143 1440,233 C 1440,233 1440,700 1440,700 Z");
}
75% {
d: path("M 0,700 C 0,700 0,233 0,233 C 127.89285714285714,250.89285714285714 255.78571428571428,268.7857142857143 379,273 C 502.2142857142857,277.2142857142857 620.75,267.75 740,254 C 859.25,240.24999999999997 979.2142857142856,222.2142857142857 1096,218 C 1212.7857142857144,213.7857142857143 1326.3928571428573,223.39285714285717 1440,233 C 1440,233 1440,700 1440,700 Z");
}
100% {
d: path("M 0,700 C 0,700 0,233 0,233 C 144.14285714285717,206.17857142857144 288.28571428571433,179.35714285714286 418,191 C 547.7142857142857,202.64285714285714 662.9999999999999,252.75000000000006 762,270 C 861.0000000000001,287.24999999999994 943.7142857142858,271.6428571428571 1054,260 C 1164.2857142857142,248.3571428571429 1302.142857142857,240.67857142857144 1440,233 C 1440,233 1440,700 1440,700 Z");
}
}
</style>
<defs><linearGradient id="gradient" x1="14%" y1="85%" x2="86%" y2="15%"><stop offset="5%" stop-color="#9900ef"></stop><stop offset="95%" stop-color="#32ded4"></stop></linearGradient></defs><path d="M 0,700 C 0,700 0,233 0,233 C 144.14285714285717,206.17857142857144 288.28571428571433,179.35714285714286 418,191 C 547.7142857142857,202.64285714285714 662.9999999999999,252.75000000000006 762,270 C 861.0000000000001,287.24999999999994 943.7142857142858,271.6428571428571 1054,260 C 1164.2857142857142,248.3571428571429 1302.142857142857,240.67857142857144 1440,233 C 1440,233 1440,700 1440,700 Z" stroke="none" stroke-width="0" fill="url(#gradient)" fill-opacity="0.53" class="transition-all duration-300 ease-in-out delay-150 path-0"></path><style>
.path-1 {
animation: pathAnim-1 8s;
animation-timing-function: linear;
animation-iteration-count: infinite;
}
@keyframes pathAnim-1 {
0% {
d: path("M 0,700 C 0,700 0,466 0,466 C 140.17857142857142,492.75 280.35714285714283,519.5 391,506 C 501.64285714285717,492.5 582.75,438.75 679,427 C 775.25,415.25 886.6428571428571,445.50000000000006 1016,459 C 1145.357142857143,472.49999999999994 1292.6785714285716,469.25 1440,466 C 1440,466 1440,700 1440,700 Z");
}
25% {
d: path("M 0,700 C 0,700 0,466 0,466 C 123.42857142857144,454.42857142857144 246.8571428571429,442.85714285714283 382,453 C 517.1428571428571,463.14285714285717 664.0000000000001,495 778,498 C 891.9999999999999,501 973.1428571428571,475.14285714285717 1078,465 C 1182.857142857143,454.85714285714283 1311.4285714285716,460.42857142857144 1440,466 C 1440,466 1440,700 1440,700 Z");
}
50% {
d: path("M 0,700 C 0,700 0,466 0,466 C 93.03571428571428,479.2142857142857 186.07142857142856,492.42857142857144 325,494 C 463.92857142857144,495.57142857142856 648.7499999999999,485.50000000000006 785,489 C 921.2500000000001,492.49999999999994 1008.9285714285716,509.57142857142856 1110,508 C 1211.0714285714284,506.42857142857144 1325.5357142857142,486.2142857142857 1440,466 C 1440,466 1440,700 1440,700 Z");
}
75% {
d: path("M 0,700 C 0,700 0,466 0,466 C 146.25,472.0357142857143 292.5,478.07142857142856 401,484 C 509.5,489.92857142857144 580.25,495.75000000000006 685,485 C 789.75,474.24999999999994 928.5000000000002,446.9285714285714 1060,441 C 1191.4999999999998,435.0714285714286 1315.75,450.53571428571433 1440,466 C 1440,466 1440,700 1440,700 Z");
}
100% {
d: path("M 0,700 C 0,700 0,466 0,466 C 140.17857142857142,492.75 280.35714285714283,519.5 391,506 C 501.64285714285717,492.5 582.75,438.75 679,427 C 775.25,415.25 886.6428571428571,445.50000000000006 1016,459 C 1145.357142857143,472.49999999999994 1292.6785714285716,469.25 1440,466 C 1440,466 1440,700 1440,700 Z");
}
}
</style>
<defs><linearGradient id="gradient" x1="14%" y1="85%" x2="86%" y2="15%"><stop offset="5%" stop-color="#9900ef"></stop><stop offset="95%" stop-color="#32ded4"></stop></linearGradient></defs><path d="M 0,700 C 0,700 0,466 0,466 C 140.17857142857142,492.75 280.35714285714283,519.5 391,506 C 501.64285714285717,492.5 582.75,438.75 679,427 C 775.25,415.25 886.6428571428571,445.50000000000006 1016,459 C 1145.357142857143,472.49999999999994 1292.6785714285716,469.25 1440,466 C 1440,466 1440,700 1440,700 Z" stroke="none" stroke-width="0" fill="url(#gradient)" fill-opacity="1" class="transition-all duration-300 ease-in-out delay-150 path-1"></path></svg>
</div>
<h2>Why Dev Commerce</h2>
<h3>A Head Strong Drive For The Future of Programming and Customer Satisfaction</h3>
</section>
</body>
</html>