<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="About Me Page" />
<link rel="stylesheet" href="/global/global.css" />
<link rel="stylesheet" href="/styles/index/home.css" />
<script type="module" src="/global/global.js"></script>
<script defer src="/js/index/home.js"></script>
<script type="module" src="/js/index/typewriter.js"></script>
<script
defer
src="https://kit.fontawesome.com/a673862905.js"
crossorigin="anonymous"
></script>
<title>Ryan Large</title>
</head>
<body>
<%-include('./styledElements/glowCircles/blob.ejs')%>
<%-include('./styledElements/glowCircles/topLeft.ejs')%>
<%-include('./styledElements/glowCircles/bottomLeft.ejs')%>
<div class="drop-shadow"></div>
<div class="nav-toggle">
<span></span>
<span></span>
<span></span>
</div>
<%-include('./partials/Aside/Aside.ejs')%>
<img
src="https://miro.medium.com/max/1072/1*rLnrIrpIywxyEX-Vt51l3Q.png"
/>
<%-include('./partials/Nav/Nav.ejs')%>
<header class="width">
<h1>R. Largè</h1>
<p class="type-writer"></p>
<hr>
<h2>Choose a Service</h2>
<div class="card-container flex">
<div class="head-card flex-col">
<div class="bg bg-1"></div>
<div class="text flex">
Web Development
</div>
</div>
<div class="head-card flex-col">
<div class="bg bg-2"></div>
<div class="text flex">
Software Engineering
</div>
</div>
</div>
</header>
</body>
</html>