<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="About Me Page" />
  <link rel="stylesheet" href="/global/global.css" />
  <link rel="stylesheet" href="/styles/index/home.css" />
  <script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
  <script type="module" src="/global/global.js"></script>
  <script defer src="/js/index/home.js"></script>
  <script type="module" src="/js/index/typewriter.js"></script>
  <script defer src="https://kit.fontawesome.com/a673862905.js" crossorigin="anonymous"></script>
  <title>Ryan Large</title>
</head>

<body>
  <%-include("./partials/Popups/Popup.ejs")%>
  <%-include("./styledElements/glowCircles/blob.ejs")%>
  <%-include("./styledElements/glowCircles/topLeft.ejs")%>
  <%-include("./styledElements/glowCircles/bottomLeft.ejs")%>
  <div class="drop-shadow"></div>
  <div class="nav-toggle">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="login-toggle">
    <i class="fa-solid fa-right-to-bracket"></i>
  </div>
  <%-include("./partials/Aside/Aside.ejs")%>
  <img src="https://miro.medium.com/max/1072/1*rLnrIrpIywxyEX-Vt51l3Q.png" />
  <%-include("./partials/Nav/Nav.ejs")%>
  <header class="width">
    <h1>R. Largè</h1>
    <p id="type-writer" class="type-writer"></p>
    <hr>
    <h2>Start With A Service</h2>
    <div class="card-container flex">
      <div class="head-card flex-col">
        <div class="bg bg-1"></div>
        <div class="text flex">
          Web Development
        </div>
      </div>
      <div class="head-card flex-col">
        <div class="bg bg-2"></div>
        <div class="text flex">
          Software Engineering
        </div>
      </div>
    </div>
  </header>
  <section class="sec-1 sec">
    <h2>Development For Production...</h2>
    <p>
      The universe of technology continues to grow at a logarithmic pace, fulfill your
      journey with hundreds of other by joining the community of amazing web technologies.
    </p>
    <h3>Get Started</h3>
    <i class="fa-solid fa-arrow-right-long"></i>
    <div class="project-selection-btns">
      <button class="project-btn"><i class="fa-brands fa-react"></i></button>
      <button class="project-btn"><i class="fa-brands fa-node-js"></i></button>
      <button class="project-btn"><i class="fa-brands fa-angular"></i></button>
      <button class="project-btn"><i class="fa-brands fa-node"></i></button>
      <button class="project-btn"><i class="fa-brands fa-vuejs"></i></button>
      <button class="project-btn"><i class="fa-brands fa-android"></i></button>
      <button class="project-btn"><i class="fa-brands fa-apple"></i></button>
      <button class="project-btn"><i class="fa-brands fa-html5"></i></button>
    </div>
    <p class="end-link-small">
      pick a framework
    </p>
    <hr>
  </section>
  <section class="sec-2">
    <div class="top-square-green"></div>
    <div class="top-square-pink"></div>
    <div class="overflow-text">
      <h2>Engineering<br> Software & <br>Desktop <br> <strong>Applications</strong></h2>
    </div>
    <div class="clip"></div>
    <div class="follow-clip">
      <h2>Robotics & Machine Learning</h2>
      <div class="code">
        <code id="terminal-typer"></code>
      </div>
      <p>
        An amazing team of developers from around the world, each with their own area of
        expertise... Making Dev Commerce the ultimate way to handle your business.
      </p>
      <button>Testimonials ></button>
      <h4 class="side-border">Every teckstack</h4>
      <p>
        For any need, weather that is Robotics, Web Development, Mobile Applications and
        more. Dev Commerce can handle it all.
      </p>
      <a>See technologies ></a>
      <h4 class="side-border">Optimization & standards</h4>
      <p>
        Our standards are extremely high here at Dev Commerce. To optimize our customer
        experience we deliver some of the best content found in Earth.
      </p>
      <a>Read our guarantees ></a>
    </div>
    <div class="square-color-green"></div>
    <div class="square-color-blue"></div>
  </section>
  <section class="sec-3 sec">
    <%-include("./styledElements/waves/sec3Wave.ejs")%>
    <%-include("./styledElements/waves/sec3SvgDiv.ejs")%>
    <h2>Why Dev Commerce</h2>
    <h3>A Head Strong Drive For The Future of Programming and Customer Satisfaction
    </h3>
    <h4>Prompt & Efficient</h4>
    <script src="https://cdn.lordicon.com/qjzruarw.js"></script>
    <lord-icon src="https://cdn.lordicon.com/kbtmbyzy.json" trigger="loop" delay="6000" colors="primary:#121331,secondary:#08a88a" style="width:50px;height:50px">
    </lord-icon>
    <p>
      What are your deadlines? We are proven to <strong>finish projects 3x
        faster</strong> than over 95% of development corporations world wide
      while without sacrificing the strictest and highest of quality.
    </p>
    <h4>State of the art</h4>
    <script src="https://cdn.lordicon.com/qjzruarw.js"></script>
    <lord-icon src="https://cdn.lordicon.com/qhgmphtg.json" trigger="loop" delay="8000" style="width:50px;height:50px">
    </lord-icon>
    <p>
      <strong>The future is us</strong>. Pushing the limits above and beyond is
      our specialty.. If there is a challenging opportunity, we are the first to
      take it, need an operating system for a new piece of tech? Checkout our
      Robotics Programming.
    </p>
    <h4>Beauty in design & code</h4>
    <script src="https://cdn.lordicon.com/qjzruarw.js"></script>
    <lord-icon src="https://cdn.lordicon.com/jvucoldz.json" trigger="loop" delay="9999" style="width:50px;height:50px">
    </lord-icon>
    <p>
      Clean code and clean interface are among the top 10 most important features
      in our products. Other <strong>developers and engineers</strong> should not
      have a difficult time working with and scaling our products.
    </p>
  </section>
  <section class="sec-4 sec">
    <div class="clip"></div>
    <div class="follow-clip">
      <h2>The Future</h2>
      <h3>Looking Back 3 Years From <strong class="future-date"></strong></h3>
      <p>
        We make all of our products as if we are looking back into the past from the
        future. Developing cutting edge technology, creating and utilizing the uttermost
        <strong>stunning & advanced</strong> programs in all areas of computer science
        and the technical world.
      </p>
      <h4>100k+</h4>
      <p>
        Customer projects <strong>perfected</strong> and <strong>deployed</strong>
      </p>
      <h4>135 & Up</h4>
      <p>
        Former clients professionally joining our team and developing to the
        <strong>highest standards</strong>
      </p>
      <h4>393</h4>
      <p>
        Countries <strong>world wide</strong> utilizing our experience and skills for
        the latest and greatest technological advancements
      </p>
      <h4>576+</h4>
      <p>
        Services a day completed and finalized from connecting to presenting the
        masterpiece to our clients. Ranging from fixing bugs, to programming <strong>new
          technology</strong> and creating better developer experience in all areas
      </p>
    </div>
  </section>
  <section class="sec-5 sec">
    <h2>What's New?</h2>
    <div class="blog-container">
      <% blogPosts.forEach((post)=> {
										%>
      <div class="post">
        <div class="image-container">
          <img class="post-img" src="<%=post.ImageUrl%>" alt="post image" />
        </div>
        <h2>
          <%=post.Title%>
        </h2>
        <p class="post-desc">
          <%=post.Description%>
        </p>
        <p class="comments">
          <%=post.Comments.length%>
        </p>
        <p class="likes">
          <%=post.Likes.length%>
        </p>
        <button class="like-btn"><i class="fa-regular fa-heart"></i></button>
        <button class="comment-btn"><i class="fa-regular fa-comment"></i></button>
        <div class="view-post-container">
          <button class="view-post-btn">View Article</button>
        </div>
      </div>
      <%})%>
      <div class="slider-dots-container">
        <% blogPosts.forEach((post)=> {
													%>
        <div class="slider-dots"></div>
        <%})%>
      </div>
    </div>
  </section>
  <%-include("./partials/Footer/Footer.ejs")%>
</body>

</html>